#rvk-ticketing-create-ticket-form #edit-child-services-fieldset {
	font-size: 22px;
	background-color: #fafafa;
	border: 1px solid #bfbfbf;
	padding: 38px 24px 24px;
	font-weight: 600;
	margin-bottom: 43px;
}

#rvk-ticketing-create-ticket-form #edit-child-services-fieldset a {
	border-color: #2e6da4;
	background-color: #337ab7;
	border-radius: 100px;
	font-size: 14px;
	padding: 12px 24px;
	text-transform: uppercase;
	color: #ffffff;
	display: block;
	max-width: 372px;
	margin: 12px auto 24px;
	transition: background-color 0.325s ease-in-out;
	font-weight: 400;
}

#rvk-ticketing-create-ticket-form #edit-child-services-fieldset a:hover {
	color: #ffffff;
	background-color: #7ab733;
	border-color: #61902a;
	text-decoration: none;
}

#rvk-ticketing-create-ticket-form #edit-child-services-fieldset p {
	margin-bottom: 0;
}

#rvk-ticketing-create-ticket-form {
	max-width: 1202px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 30px;
	color: #232121;
	font-size: 18px;
}

#rvk-ticketing-create-ticket-form .create-ticket-form-info {
	margin-bottom: 63px;
}

#rvk-ticketing-create-ticket-form .media-info { 
	margin-bottom: 12px;
	position: relative;
	background-color: #ffffff;
	z-index: 1;
}

#rvk-ticketing-create-ticket-form .icon-wrapper {
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: -33px;
	left: 50%;
	margin-left: -33px;
	z-index: 3;
}

#rvk-ticketing-create-ticket-form .icon {
	display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    top: 50%;
    left: 50%;
}

#rvk-ticketing-create-ticket-form .location-close,
#rvk-ticketing-create-ticket-form.show-map-wrapper .location,
#rvk-ticketing-create-ticket-form .images-close,
#rvk-ticketing-create-ticket-form.show-image-wrapper .images {
	opacity: 0;
	transition: opacity 0.65s ease-in-out;
}

#rvk-ticketing-create-ticket-form .location {
	background: url(images/svg/location.svg) no-repeat top left;
	background-size: contain;
    width: 13px;
    height: 18px;
    left: 32px;
    top: 13px;
    opacity: 1;
    transition: opacity 0.65s ease-in-out;
}

#rvk-ticketing-create-ticket-form.show-map-wrapper .location-close {
	background: url(images/svg/close.svg) no-repeat top left;
	background-size: contain;
    width: 18px;
    height: 18px;
    left: 30px;
    top: 12px;
    opacity: 1;
}

#rvk-ticketing-create-ticket-form .images {
	background: url(images/svg/images.svg) no-repeat top left;
	background-size: contain;
    width: 20px;
    height: 26px;
    left: 29px;
    top: 12px;
    opacity: 1;
    transition: opacity 0.65s ease-in-out;
}

#rvk-ticketing-create-ticket-form.show-image-wrapper .images-close {
	background: url(images/svg/close.svg) no-repeat top left;
	background-size: contain;
    width: 18px;
    height: 18px;
    left: 30px;
    top: 12px;
    opacity: 1;
}

#rvk-ticketing-create-ticket-form .icon-document {
	background: url(images/svg/document.svg) no-repeat top left;
    width: 23px;
	height: 32px;
	background-size: contain;
	margin-top: -15px;
	margin-left: -11px;
}

#rvk-ticketing-create-ticket-form .icon-user {
	background: url(images/svg/user.svg) no-repeat top left;
   	width: 33px;
	height: 30px;
	background-size: contain;
	margin-top: -16px;
	margin-left: -17px;
}

#rvk-ticketing-create-ticket-form .icon-location {
	background: url(images/svg/location-blue.svg) no-repeat top left;
    width: 35px;
	height: 31px;
	background-size: contain;
	margin-top: -15px;
	margin-left: -15px;
}

#rvk-ticketing-create-ticket-form .icon-images {
	background: url(images/svg/images-blue.svg) no-repeat top left;
    width: 36px;
	height: 32px;
	background-size: contain;
	margin-top: -16px;
	margin-left: -15px;
}

#rvk-ticketing-create-ticket-form .form-item-indication-fieldset-indication-text-fieldset-title,
#rvk-ticketing-create-ticket-form .form-item-indication-fieldset-indication-text-fieldset-content,
#rvk-ticketing-create-ticket-form #edit-personal-info-fieldset-person,
#rvk-ticketing-create-ticket-form .form-item-indication-fieldset-map-fieldset-address-address,
#rvk-ticketing-create-ticket-form .map,
#rvk-ticketing-create-ticket-form #images-fieldset-wrapper .collapse .panel,
#rvk-ticketing-create-ticket-form #images-fieldset-wrapper .form-item {
	text-align: left;
	max-width: 894px;
	margin: 0 auto;
}

#rvk-ticketing-create-ticket-form .create-ticket-form-personal-info,
#rvk-ticketing-create-ticket-form .form-item-indication-fieldset-map-fieldset-address-address .input-group,
#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset-address {
	max-width: 894px;
	margin: 0 auto;
	width: 100%;
	display: block;
}

#rvk-ticketing-create-ticket-form .create-ticket-form-info,
#rvk-ticketing-create-ticket-form .media-info-inner,
#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset-map,
#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset-map + p,
#rvk-ticketing-create-ticket-form #edit-indication-fieldset-image-fieldset-image {
	width: 100%;
	max-width: 894px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset {
	margin-bottom: 30px;
}

#rvk-ticketing-create-ticket-form .media-info:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	top: -100%;
	left: 0;
}

#rvk-ticketing-create-ticket-form #images-fieldset-wrapper .collapse .panel input {
	margin-bottom: 12px;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset-map + p {
	margin-bottom: 18px;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-indication-text-fieldset,
#rvk-ticketing-create-ticket-form #edit-personal-info-fieldset,
#rvk-ticketing-create-ticket-form .collapse-inner {
	padding: 38px 24px 24px;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-indication-text-fieldset {
	z-index: 2;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset-map {
	margin-bottom: 19px;
}

#rvk-ticketing-create-ticket-form .icon-bg {
	background-color: #ffffff;
	border: 1px solid #bfbfbf;
	border-radius: 50%;
	width: 66px;
	height: 66px;
	display: block;
	transition: border-color 0.65s ease-in-out;
}

#rvk-ticketing-create-ticket-form.show-map-wrapper #edit-indication-fieldset-map-fieldset .icon-bg,
#rvk-ticketing-create-ticket-form.show-image-wrapper #images-fieldset-wrapper .icon-bg {
	border-color: #337ab7;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-indication-text-fieldset,
#rvk-ticketing-create-ticket-form #edit-personal-info-fieldset,
#rvk-ticketing-create-ticket-form .collapse-inner {
	position: relative;
	background-color: #fafafa;
	border: 1px solid #bfbfbf;
	margin-bottom: 43px;
	transition: border-color 0.65s ease-in-out;
}

#rvk-ticketing-create-ticket-form.show-map-wrapper #edit-indication-fieldset-map-fieldset .collapse-inner,
#rvk-ticketing-create-ticket-form.show-image-wrapper #images-fieldset-wrapper .collapse-inner {
	border-color: #337ab7;
}

.node-type-page .page-header,
.node-type-page .field-name-body,
.node-type-page .tabs--primary {
	max-width: 987px;
	margin: 0 auto;
	margin-bottom: 12px;
}

#mapDiv {
    position: relative;
}

#rvk-ticketing-create-ticket-form label {
	margin-bottom: 3px;
	font-weight: 600;
	padding-left: 6px;
	line-height: normal;
}

#rvk-ticketing-create-ticket-form .form-group {
	margin-bottom: 17px;
}

.form-item-address .dropdown {
	display: block;
}

#rvk-ticketing-create-ticket-form  p {
	margin-bottom: 24px;
}

#rvk-ticketing-create-ticket-form .create-ticket-form-info p {
	margin-bottom: 77px;
}

#rvk-ticketing-create-ticket-form .media-info-btn-wrapper {
	position: relative;
}

#rvk-ticketing-create-ticket-form textarea {
	min-height: 188px;
}

#rvk-ticketing-create-ticket-form .toggle-icon {
	width: 22px;
	height: 22px;
	background: #ffffff url('images/svg/arrow-down.svg') no-repeat center center;
	border: 1px solid #404040;
	display: inline-block;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	margin-right: 12px;
	margin-top: -2px;
}

#rvk-ticketing-create-ticket-form .toggle-icon.flip {
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

#rvk-ticketing-create-ticket-form fieldset {
	box-shadow: unset;
}

#rvk-ticketing-create-ticket-form #edit-map-body {
	margin-top: 6px;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset,
#rvk-ticketing-create-ticket-form #images-fieldset-wrapper {
	margin-bottom: 12px;
	position: relative;
	z-index: 0;
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#rvk-ticketing-create-ticket-form .media-info-btn-wrapper-small {
	padding-bottom: 12px;
	position: relative;
	z-index: 2;
	transition: all 0.65s ease-in-out;
}

#rvk-ticketing-create-ticket-form.show-image-wrapper .media-info-btn-wrapper-small,
#rvk-ticketing-create-ticket-form.show-map-wrapper .media-info-btn-wrapper-small {
	padding-bottom: 0;
}

#rvk-ticketing-create-ticket-form.show-image-wrapper #images-fieldset-wrapper .media-info-btn-wrapper-small {
	padding-top: 12px;
}

#rvk-ticketing-create-ticket-form.show-image-wrapper.show-map-wrapper #images-fieldset-wrapper .media-info-btn-wrapper-small {
	padding-top: 0;
}

#rvk-ticketing-create-ticket-form .media-info-btn-wrapper-small {
	padding-bottom: 12px;
	position: relative;
	z-index: 2;
}

#images-fieldset-wrapper .panel-body > button {
	margin-top: 24px;
}

#edit-indication-text-fieldset,
#edit-image-fieldset,
#edit-map-fieldset,
#edit-address,
#rvk-ticketing-create-ticket-form .panel {
   background: transparent;
   border: none;
}

#edit-personal-info-fieldset .form-control,
#edit-indication-fieldset .form-control {
	height: 46px;
	border-radius: 8px;
	box-shadow: unset;
}

#edit-personal-info-fieldset .form-control label,
#edit-indication-fieldset .form-control label {
	margin-bottom: 1px;
	font-weight: 600;
	padding-left: 5px;
}

#edit-personal-info-fieldset .panel-body, 
#edit-indication-fieldset .panel-body {
	padding: 0;
}

#edit-personal-info-fieldset h2, 
#edit-indication-fieldset h2 {
	font-size: 32px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 8px;
}

#rvk-ticketing-create-ticket-form .create-ticket-form-personal-info h2,
#rvk-ticketing-create-ticket-form #edit-indication-fieldset-indication-text-fieldset h2,
#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset h2,
#rvk-ticketing-create-ticket-form #images-fieldset-wrapper h2 {
	font-size: 22px;
	font-weight: 600;
	padding-top: 4px;
	padding-bottom: 2px;
}

#edit-personal-info-fieldset h3, 
#edit-indication-fieldset h3 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 0;
	padding-top: 2px;
}

#edit-indication-fieldset .grippie {
	display: none;
}

#rvk-ticketing-create-ticket-form .btn-default,
#rvk-ticketing-create-ticket-form .form-submit,
#rvk-ticketing-create-ticket-form .input-group-btn button,
#rvk-ticketing-create-ticket-form .media-info-btn-wrapper .btn,
#rvk-ticketing-create-ticket-form .media-info-btn-wrapper-small .btn {
	border-color: #2e6da4;
	background-color: #337ab7;
	border-radius: 100px;
	font-size: 14px;
	padding: 12px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 23px;
}

#rvk-ticketing-create-ticket-form .btn-default,
#rvk-ticketing-create-ticket-form .form-submit,
#rvk-ticketing-create-ticket-form .input-group-btn button {
	width: 175px;
	transition: background-color 0.325s ease-in-out;
}

#rvk-ticketing-create-ticket-form .media-info-btn-wrapper .btn,
#rvk-ticketing-create-ticket-form .media-info-btn-wrapper-small .btn { 
	width: 249px;
	margin: 0;
	position: relative;
	transition: background-color 0.325s ease-in-out;
}

#rvk-ticketing-create-ticket-form .btn-default:hover,
#rvk-ticketing-create-ticket-form .form-submit:hover,
#rvk-ticketing-create-ticket-form .input-group-btn button:hover,
#rvk-ticketing-create-ticket-form .media-info-btn-wrapper .btn:hover,
#rvk-ticketing-create-ticket-form .media-info-btn-wrapper-small .btn:hover {
	color: #ffffff;
	background-color: #7ab733;
	border-color: #61902a;
}

#rvk-ticketing-create-ticket-form .collapse-outer,
.hide-map .map-wrapper {
	max-height: 0;          
    overflow-y: hidden;
    display: block;
    transition: all 0.65s ease-in-out;
    padding-top: 0;
    opacity: 0;
    position: relative;
}

 #rvk-ticketing-create-ticket-form .collapse-outer:before {
 	content: "";
	position: absolute;
	height: 74px;
	width: 1px;
	background-color: #337ab7;
	z-index: -1;
	left: 50%;
	top: 0;
	margin-top: -20px;
}

.show-image-wrapper #images-fieldset-wrapper .collapse-outer,
.show-map-wrapper #edit-indication-fieldset-map-fieldset .collapse-outer,
.map-wrapper {
	overflow-y: visible;
	max-height: 1000px;
	opacity: 1;
	padding-top: 56px;
}

.hide-map #images-fieldset-wrapper {
	margin-top: 30px;
}

#rvk-ticketing-create-ticket-form #LocateButton {
    top: 93px;
    left: 21px;
}

#rvk-ticketing-create-ticket-form #edit-map {
	border: none;
}

#rvk-ticketing-create-ticket-form #edit-map-body {
	margin: 0;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset-address .input-group-addon {
	position: absolute;
	z-index: 100;
	width: 40px;
	height: 32px;
	right: 12px;
	border: none;
	background: transparent;
	top: 8px;
}

#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset-address .input-group-addon .icon {
	position: relative;
    height: auto;
    width: auto;
    top: auto;
    left: auto;
}

#rvk-ticketing-create-ticket-form #images-fieldset-wrapper .glyphicon-upload {
	display: none;
}

#rvk-ticketing-create-ticket-form .form-item-address .input-group {
	display: block;
}

#rvk-ticketing-create-ticket-form .form-item-address #edit-address--2 {
	display: block;
	margin-bottom: 20px;
}

#rvk-ticketing-create-ticket-form #edit-image-upload {
	display: block;
	overflow: hidden;
}

#rvk-ticketing-create-ticket-form #edit-image-fieldset .btn,
#rvk-ticketing-create-ticket-form #edit-indication-fieldset-image-fieldset-image-0-upload .input-group-btn,
#rvk-ticketing-create-ticket-form #images-fieldset-wrapper .input-group-btn button {
	position: absolute;
	right: 0;
	margin: 0;
	height: 45px;
	top: 0;
    display: block;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 150px;
    z-index: 3;
}

#rvk-ticketing-create-ticket-form #edit-image-fieldset .input-group,
#rvk-ticketing-create-ticket-form #images-fieldset-wrapper .form-control,
#rvk-ticketing-create-ticket-form #images-fieldset-wrapper .input-group {
	width: 100%;
	display: block;
}

.locate-icon {
	padding: 2px;
	width: 26px;
	height: 26px;
	background-color: rgba(102,102,102,0.80);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-image: url("images/locate.png");
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

#rvk-ticketing-create-ticket-form #edit-personal-info-fieldset {
	margin-top: 48px;
	transition: all 0.325s ease-in-out;
}

#rvk-ticketing-create-ticket-form.show-image-wrapper #edit-personal-info-fieldset {
	margin-top: 10px;
}

.form-item-indication-fieldset-map-fieldset-dont-use-map.checkbox {
	margin-bottom: 0;
}

.form-item-indication-fieldset-map-fieldset-dont-use-map.checkbox:first-child {
	margin-top: 10px;
}

#rvk-ticketing-create-ticket-form .form-item-indication-fieldset-map-fieldset-dont-use-map label {
	padding-left: 20px;
	font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
}

.map-wrapper {
	padding-top: 34px;
}

#images-fieldset-wrapper fieldset div fieldset {
	text-align: left;
}

#images-fieldset-wrapper .collapse-outer fieldset button {
	width: 249px;
	position: relative;
}

#images-fieldset-wrapper fieldset div fieldset button .icon {
	left: 29px;
	width: 14px;
    height: 16px;
    margin-top: -8px;
}

#block-rvk-ticketing-indication-form + #block-system-main {
	text-align: center;
}

#block-rvk-ticketing-indication-form + #block-system-main .field-name-body {
	width: 100%;
    max-width: 894px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#block-rvk-ticketing-indication-form + #block-system-main h2 {
	font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.4;
}

#block-rvk-ticketing-indication-form + #block-system-main p {
	line-height: 1.78;
	color: #232121;
    font-size: 18px;
}

@media screen and (min-width: 600px) {

	#rvk-ticketing-create-ticket-form #edit-personal-info-fieldset {
		margin-top: 80px;
	}

	#rvk-ticketing-create-ticket-form.show-image-wrapper #edit-personal-info-fieldset {
    	margin-top: 37px;
	}

	.show-image-wrapper #images-fieldset-wrapper .collapse-outer,
	.show-map-wrapper #edit-indication-fieldset-map-fieldset .collapse-outer {
		padding-top: 80px;
	}

	#rvk-ticketing-create-ticket-form .media-info {
		margin-bottom: 0;
	}

	#rvk-ticketing-create-ticket-form .media-info-btn-wrapper {
		display: block;
	}

	#rvk-ticketing-create-ticket-form .media-info-btn-wrapper .btn:nth-child(1) {
		margin-right: 24px;
	}

	#rvk-ticketing-create-ticket-form .media-info-btn-wrapper .btn:nth-child(2) {
		margin-left: 24px;
	}

	#rvk-ticketing-create-ticket-form #edit-indication-fieldset-map-fieldset, 
	#rvk-ticketing-create-ticket-form #images-fieldset-wrapper {
	margin-bottom: 0;
	}

	#rvk-ticketing-create-ticket-form .btn-default,
	#rvk-ticketing-create-ticket-form .form-submit {
		margin-bottom: 46px;
	}

	#rvk-ticketing-create-ticket-form {
		margin-top: 60px;
	}

	#rvk-ticketing-create-ticket-form  p {
		line-height: 1.78;
	}
}

@media screen and (min-width: 1024px) {

	#rvk-ticketing-create-ticket-form #edit-indication-fieldset-indication-text-fieldset,
	#rvk-ticketing-create-ticket-form #edit-personal-info-fieldset,
	#rvk-ticketing-create-ticket-form .collapse-inner {
		padding: 38px 60px 60px;
	}

	#rvk-ticketing-create-ticket-form textarea {
		min-height: 156px;
	}

	#rvk-ticketing-create-ticket-form #edit-indication-text-fieldset {
		padding-left: 30px;
	}

	#rvk-ticketing-create-ticket-form #edit-map-fieldset {
		position: relative;
		z-index: 2;
	}

	#edit-personal-info-fieldset h2, 
	#edit-indication-fieldset h2 {
		line-height: 1.4;
	}

	#rvk-ticketing-create-ticket-form #edit-map-fieldset-body p,
	#rvk-ticketing-create-ticket-form #edit-map-fieldset p {
		float: none;
		width: 100%;
		text-align: left;
		text-justify: unset;
	}

}


